# python -m pip install -r requirements.txt (use this to install in currect env)

flask==2.3.3
flask-cors==4.0.0
flask-pymongo==2.3.0
opencv-python-headless==4.8.1.78
mtcnn==0.1.1
keras-facenet==0.3.2
scikit-learn==1.3.0
ultralytics==8.0.196
tensorflow==2.13.0
numpy==1.24.3
pymongo==4.5.0
# Note: Do NOT add opencv-python here — it conflicts with opencv-python-headless above
